* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fixed::after {
  content: "";
  display: table;
  clear: both;
}

body {
 font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin:auto;
}

.int .list-top{
  text-align: left;

}

.head nav {
  width: 50%;
  float: left;
  margin: 25px 0;
}

.head li {
  display: inline-block;

}

.head .a-right {
  padding: 0 25px;
}

a {
  color: #000000;
}

.head a {
  text-decoration: none;
  text-transform: capitalize;

}

.list-bottom {
  text-align: right;
}

.list-top {
  text-align: left;
}

.list-top i {
  padding: 0 15px 0 0;
}



/* css bottoni */

.btn {
  background-color: #ff8c00;
  color: #ffffff;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 5px;
}

.btn-first {
  background-color: transparent;
  color: #ff8c00;
  border: 1px solid #ff8c00;

}

/* seconda nav */

.nav-bottom {
  margin-top: 25px;
}

.nav-logo {
  width: 50%;
  float: left;
}

.info-nav {
  width: 50%;
  float:left;
  text-align: right;
}

.info-nav {
  width: 50%
}

.info-nav li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

.info-nav a {
  text-decoration: none;
}
.info-nav i {
  padding: 0 2px;
}

.titolo {
  height: 716px;
  /* background-color: red; */
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  /* position: relative; */
}


h1 {
  font-size: 40px;
  padding-top: 50px;
}

.titolo p {
  padding-top: 50px;
  line-height: 30px;
  text-align: left;
}

.button-info {
  padding-top: 50px;
}

.btn-trd {
  padding: 20px 30px;
}

.started {
  font-size: 10px;
}

/* /seconda nav */

/* corpo centrale */

.first-body {
  background-color: #f4f9fd;

}

/* prima sezione corpo centrale */

.img-square .square, h2, p {
  text-align: center;
  padding-top: 30px;
}



.img-square h2 {
  font-size: 35px;
}

.img-square {
  line-height: 30px;
  text-align: center;
}
/* /prima sezione corpo centrale  */
/* seconda sezione corpo centrale */

.img-book {
  background-color: 	#ffffff;
  padding: 30px 150px;
  border-radius: 10px;
}

.learn-more {
  width: 30%;
  float: left;
}
 #book {
   width: 100px;
   height: 100px;
   display: block;
 }

 .free-crm {
   float: left;
   width: 70%;
}

.free-crm h3, p, h4 {
  padding-top: 20px;
}
/* riga orrizzontale */
.info-features:before {
     content: '';
     display: block;
     float: right;
     width: 65%;
     height: 2px;
     margin-top: 9px;
     background-color: #899397;
}
}

.free-crm p {
  text-align: left;
  line-height: 25px
}

.free-crm hr {
  width: 40%;
}
 /* lista */
.free-crm  li {
  display: inline-block;
  padding: 20px 30px;
  padding-left: 0;
  list-style: none;
}

/* .free-crm i { */
.first-body i {
 color: 	#ff8c00;
 padding-left: 0px;
 padding-right: 15px;
}
/*/seconda sezione corpo centrale*/
/* terza sezione corpo centrale */

.boxes {
  /* height: 500px; */
}

/* box */
.box {
  width: 33%;
  float: left;
  background-color: 	#ffffff;
  border-radius: 10px;
  margin: 40px 0;
 text-align: center;
 padding: 30px 30px;
 border: 1px solid #EDF3F7;
}

/* immagine */
.pic {
  width: 100px;
  height: 100px;
  padding-bottom: 20px;
}

.box p {
  line-height: 20px;
}
/* riga orrizontale */
.box hr {
margin: 50px 10px;
}

.box h4 {
  padding-bottom: 50px;
}

/* lista verticale */
 .box li {
   list-style: none;
   text-align: left;
 }

 .btn-learn {
   padding: 35px 0;
 }

 /* misure box */

.boxes .middle {
   width: 29%;
   margin-left: 2%;
   margin-right: 2%;
 }

 .boxes .left {
  width: 29%;
  margin-right: 4%;
 }

 .boxes .right {
   width: 29%;
   margin-left: 4%;
 }
/* /terza sezione corpo centrale */
/* quarta sezione corpo centrale */
.second-section {
  background-color: #00B7AC;
  text-align: center;
  color: 	#ffffff;
  padding: 100px 0;
}


/* titolo sezione */
.blue-section h2 {
  font-size: 35px;

}
/* paragrafo sezione */
.blue-section p {
  padding: 40px 0;
}

/*griglia icone  */
/* prima riga */
.first-row ul {
  width: 25%;
  float: left;
  border-bottom: 1px 	solid #ffffff;
}

.first-row li {
  list-style: none;
  padding: 20px 0;
}

.first-row .icon {
  font-size: 30px;
}

.first-row .number {
  font-size: 45px;
}

.first-row .plus {
  font-size: 25px;
  vertical-align: middle;
}

.first-row .text {
  font-size: 10px;
}

/* bordi box destra */
.first-row .first-box {
  border-right: 1px solid #ffffff;
}

.first-row .third-box {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
/* /prima riga */
/* seconda riga */

.bottom-row ul{
  width: 25%;
  float: left;
}

.bottom-row li {
  list-style: none;
  padding: 20px 0;
}

.bottom-row .icon {
  font-size: 30px;
}

.bottom-row  .number {
  font-size: 45px;
}

.bottom-row  .plus {
  font-size: 25px;
  vertical-align: middle;
}

.bottom-row  .text {
  font-size: 10px;
}

/* bordi box destra */
.bottom-row  .first-box {
  border-right: 1px solid #ffffff;
}

.bottom-row .third-box {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
/*/ quarta sezione corpo centrale */
/* quinta sezione corpo centrale */


.line .number {
  width: 30%;
  height: 100px;
  float: left;
  /* position: relative; */
}

.number span {
  float: left;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%); */
  font-size: 50px;
}

.brands li {
  display: inline-block;
  list-style: none;
  padding: 0 40px;
  line-height: 100px;
}

.brands li img {
  width: 125px;
  height: 15px;
}

#sabeaus {
  height: 25px;
}
/* seconda riga */

.line .paragraph {
  width: 30%;
  height: 100px;
  float: left;
  position: relative;
  line-height: 30px;
}
.line .paragraph p {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* /quinta sezione corpo centrale */
/* sesta sezione corpo centrale */

.ultima-riga .last-title {
  width: 50%;
  float: left;
}

.ultima-riga .last-image {
  width: 50%;
  height:400px;
  float: left;
  background-image: url("../img/woman.webp");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center;
  margin-top: 30px;
}

.last-title h2 {
  text-align: left;
  padding-top: 50px;
}

.last-title .big-p {
  text-align: left;
  line-height: 30px;
  padding: 50px 0;
}

.last-title .small-p {
  text-align: left;
  font-size: 10px;
  padding-top: 50px;
}
/* /corpo centrale */

footer {
  background-color: #32495b;
  height: 800px;
  margin-top: 50px;
}

.foot-box {
  color: #ffffff;
  text-transform: capitalize;
  padding-top: 30px;
  width: 25%;
  float: left;
}

.foot-box h4 {
  padding-bottom: 25px;
}

.foot-box li {
  padding-top: 20px;
  list-style: none;
}

.foot-box .last-btn {
  background-color: #ffffff;
  color: #32495b;
  text-transform: capitalize;
}

.foot-box .icon-list li {
  display: inline-block;
  padding: 15px 8px 0 8px;
}

.middle-foot {
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
  background-color: #32495b;
}

.middle-foot .languages-list ul {
}

.middle-foot li {
  display: inline-block;
  list-style: none;
  padding: 100px 15px 20px 15px;
}

.last-nav {
  color: #ffffff;
  text-transform: capitalize;
  background-color: #32495b;
}

.last-logo {
  width: 50%;
  float:left;
}

.last-logo img {
  padding-top: 40px;
}

.last-logo p {
  text-align: left;
}

.privacy {
  float: left;
  text-align: right;
  width: 50%;
}

.privacy li {
  display:inline-block;
  list-style: none;
  padding: 40px 25px;
}
