* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fixed::after {
  content: "";
  display: table;
  clear: both;
}

body {
 font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin:auto;
}

.head nav {
  width: 50%;
  float: left;
  margin: 25px 0;
}

.head li {
  display: inline-block;
  padding: 0 25px;
}

.head a {
  text-decoration: none;
  text-transform: capitalize;
}

.list-bottom {
  text-align: right;
}

.list-top {
  text-align: left;
}

.list-top i {
  padding: 0 15px;
}

/* css bottoni */

.btn {
  background-color: #ff8c00;
  color: #ffffff;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 5px;
}

.btn-first {
  background-color: transparent;
  color: #ff8c00;
  border: 1px solid #ff8c00;

}

/* seconda nav */

.nav-bottom {
  margin-top: 25px;
}

.nav-logo {
  width: 50%;
  float: left;
}

.info-nav {
  width: 50%;
  float:left;
  text-align: right;
}

.info-nav {
  width: 50%
}

.info-nav li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}

.info-nav a {
  text-decoration: none;
}
.info-nav i {
  padding: 0 2px;
}
